<mat-toolbar [class.mat-elevation-z8]="isActive" color="primary">
  <span class="header-logo">
    <a [routerLink]="['/home']">
      <img src="assets/images/poseitive-logo.png">
    </a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li>
      <button mat-button class="name" [matMenuTriggerFor]="menu">Hi, {{ name }} <span style="font-size: 10px;">▼</span></button>
      <mat-menu #menu="matMenu">
        <a [routerLink]="['/session-log']"><button mat-menu-item>Session Log</button></a>
        <button mat-menu-item>Account Settings</button>
      </mat-menu>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button class="logout" (click)="onLogout()">Logout</button>
    </li>
  </ul>
</mat-toolbar>
