@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

div {
  color: whitesmoke;
}

.desc {
  padding: 0px 80px;
  margin-top: 5%;
}

.text {
  margin-top: 8%;
}

.text-title {
  font-family: 'Poppins',
  sans-serif;
  color: yellow;
}

.start-session img {
  width: 40%;
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .home-page {
    width: 100%;
    margin-top: 15%;
  }
}

@media only screen and (max-width: 768px) {
  .desc {
    padding: 0px 30px;
  }

  .home-page {
    width: 100%;
    margin-top: 25%;
  }
}

@media only screen and (max-width: 415px) {
  .desc {
    padding: 20px;
    margin-top: 0%;
  }

  .text {
    margin-top: 5%;
  }

  .home-page {
    width: 100%;
  }
}

@media only screen and (max-width: 320px) {
  .desc {
    padding: 20px;
    margin-top: 0%;
  }

  .text {
    margin-top: 5%;
  }

  .home-page {
    width: 100%;
  }
}
